# Python
__pycache__/
*.py[cod]
*.egg-info/
.env
*.sqlite3
*.log
*.pot
*.pyc

# Virtual Environment
venv/
/venv/
env/
ENV/

# VS Code
.vscode/

# PyCharm
.idea/

# Node (Tailwind)
node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log

# Static & Media
staticfiles/
media/

# OS/System Files
.DS_Store
Thumbs.db

# Coverage reports
htmlcov/
coverage.xml
*.cover
.cache
.pytest_cache/
.mypy_cache/

# Build
build/
dist/
