# Python
__pycache__/
*.py[cod]
*.egg-info/
*.env
.env
*.sqlite3

# Django Migrations
**/migrations/
!*/migrations/__init__.py

# Virtual Environment
venv/
env/
ENV/

# VS Code
.vscode/

# PyCharm
.idea/

# Node (Tailwind)
node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log
package-lock.json

# Tailwind build artifacts (from django-tailwind)
theme/static_src/
theme/static/css/
theme/static/js/

# Static & Media
staticfiles/
media/

# OS/System Files
.DS_Store
Thumbs.db

# Compiled files
*.log
*.pot
*.pyc

# Coverage reports
htmlcov/
coverage.xml
*.cover
.cache

# Build
build/
dist/
